# Database Clients

## Connect to Database

In [1]:
import mysql.connector as connector

In [2]:
import json

In [3]:
import numpy as np
import pandas as pd

In [4]:
with open('config.json', 'r') as file:
    config = json.load(file)

In [5]:
connection = connector.connect(user = config['user'], password = config['password'], database = config["database"])

In [6]:
cursor = connection.cursor()

## Show Tables Query

In [7]:
# show tables query
show_tables_query = "SHOW tables"

In [8]:
# Execute Show Tables Query
cursor.execute(show_tables_query)

In [9]:
tables_results = cursor.fetchall()

In [10]:
table_dict = {'table_name' : [i[0] for i in tables_results]}

In [11]:
table_df = pd.DataFrame(data = table_dict)
display(table_df)

                                     table_name
0                                      bookings
1                        bookings_bk_2023_09_15
2                     costly_order_transactions
3                                     customers
4                                          menu
5                                    menu_items
6   menu_items_with_multiple_order_transactions
7                         order_delivery_status
8                            order_transactions
9                                        orders
10                                  orders_view
11                                        staff

## Customer Promotion Query

In [12]:
customer_promotion_query = f'''
select
	c.customer_id
    , c.customer_name
    , c.customer_country
    , c.customer_city
    , c.customer_phone_number
    , ot.order_transaction_revenue
from little_lemon_db.order_transactions as ot
inner join customers as c
	on 1=1
    and c.customer_id is not null
    and ot.customer_id = c.customer_id
where 1=1
    and ot.order_transaction_revenue > 60
order by ot.order_transaction_revenue asc
'''

In [13]:
cursor.execute(customer_promotion_query)

In [14]:
customer_promotion_results = cursor.fetchall()

In [15]:
customer_promo_dict = {
    'customer_id': [i[0] for i in customer_promotion_results]
    , 'customer_name': [i[1] for i in customer_promotion_results]
    , 'customer_country': [i[2] for i in customer_promotion_results]
    , 'customer_city' : [i[3] for i in customer_promotion_results]
    , 'customer_phone_number': [i[4] for i in customer_promotion_results]
    , 'order_transaction_revenue' : [i[5] for i in customer_promotion_results]
}

In [16]:
customer_promo_df = pd.DataFrame(data=customer_promo_dict)

In [17]:
display(customer_promo_df)

,customer_id,customer_name,customer_country,customer_city,customer_phone_number,order_transaction_revenue
0,26-237-6257,Jillayne Gaiford,Kazakhstan,BÅ«laevo,1000000247,66.86
1,60-742-1416,Giusto Sheavills,Ukraine,Mospyne,1000000601,66.86
2,42-037-9687,Roi Critzen,Russia,Leninsk,1000000411,66.86
3,82-632-3278,Lucilia Sandeman,China,Liangjing,1000000834,66.86
4,49-536-9801,Elisabetta Jacke,Philippines,San Juan,1000000489,66.86
...,...,...,...,...,...,...
20974,42-165-1972,Bobby Blazewski,China,Xinglongchang,1000000412,480.00
20975,95-339-8822,Sheela Stein,United States,Salt Lake City,1000000954,480.00
20976,04-007-9403,Reilly Domonkos,Portugal,Fonte Boa da Brincosa,1000000035,480.00
20977,89-896-4591,Mart Malsher,Russia,Galâ€™bshtadt,1000000895,480.00
20978,35-042-6593,Horatio Lundy,China,Huangcun,1000000343,480.00